h2 {
    text-align: left;
    padding: 0px;
}
table{
    border: 1px solid black;
}
td{
    padding: 10px;
}
tr{
    border: 1px solid black;
}
.class_btn{
    width: 100px;
    height: 30px;
    text-align: center;
}